.game  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game__box {
    display: flex;
    flex-direction: column;
    width: 343px;
    height: calc(100vh - 175px);
    justify-content: space-around;
    align-items: center;
}

.box__canva {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 507px;
    width: 304px;
}

.box__hangman {
    width: 294px;
    height: 360px;
}

.box__leters {
    width: 100%;
    height: 116px;
}

@media screen and (min-width: 768px) {
    .game__box {
        height: calc(100vh - 240px);
        width: 688px;
    }

    .box__canva {
        width: 100%;
    }

    .box__leters {
        width: 464px;
        height: 152px;
    }
}

@media screen and (min-width: 1440px) {
    .game__box {
        height: calc(100vh - 210px);
    }
}
